In [1]:
from _shared import *

In [2]:
df_orders = pd.read_csv('./data/df_orders.csv', index_col=0)
df_orders.columns = ['user_id', 'group', 'metric']

df_orders.head()

      user_id  group  metric
1038        0  pilot     887
1072        0  pilot     698
1071        0  pilot     960
1070        0  pilot     776
1069        0  pilot     533

In [6]:
lin_a, lin_b = calculate_linearized_metrics_optimized(
    control_metrics=df_orders.loc[df_orders['group']=='control', ['user_id', 'metric']],
    pilot_metrics=df_orders.loc[df_orders['group']=='pilot', ['user_id', 'metric']]
)

res_1 = round(stats.ttest_ind(lin_a['metric'], lin_b['metric']).pvalue, 6)
res_1

3e-06