In [9]:
from _shared import *

### Задача 4. Численный эксперимент

Мы рассмотрели несколько вариантов добавления эффекта.
Есть ли смысл думать о способе добавления эффекта при оценке вероятности ошибки II рода
или все способы дают одинаковый результат? Результаты могут быть разными.
Чтобы в этом убедиться, проведём численный эксперимент.

Допустим, в наш А/В-тест попадают все пользователи, совершавшие покупки до 28 марта.

 
1. __Целевая метрика__ — средняя выручка с клиента за время эксперимента.
1. Целевую метрику считаем __на неделе с 21 по 28 марта__.
1. __Уровень значимости__ — 0.05.
1. __Критерий__ — тест Стьюдента.
1. __Размер групп__ — 1000.
1. __Ожидаемый эффект__ — средняя выручка увеличится на 10%.

Нужно оценить вероятности ошибок II рода для трёх вариантов добавления эффекта:

1. Добавление константы ко всем значениям;
2. Умножение на константу всех значений;
3. Добавление константы к 2.5% значений.

Для решения используйте данные из файла `2022-04-01T12_df_sales.csv`.

В качестве ответа введите номера способов добавления эффекта в порядке увеличения оценки вероятности ошибки II рода. Например, если при добавлении константы ко всем значениям оценка вероятности ошибки минимальна, при добавлении константы к 2.5% значений максимальна, то ответ будет: 123.

In [10]:
df_sales = get_data_subset(
    df=read_from_database('2022-04-01T12_df_sales.csv', [1]), 
    begin_date='2022-03-21',
    end_date='2022-03-28',
    user_ids=None,
    columns=['date', 'price', 'user_id']
)
df_sales.head()

                      date  price user_id
164483 2022-03-21 10:00:26   1470  35093f
164484 2022-03-21 10:02:30   1440  d63544
164485 2022-03-21 10:05:15    540  62a836
164486 2022-03-21 10:06:45    600  1dcc25
164487 2022-03-21 10:06:45    630  e3644e